<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC demo app</title>
</head>
<body>
<h1>Welcome to our app</h1>

<h2>We have <span th:text="${payments.size()}"></span> payments in our database</h2>
<div th:switch="${payments}">
    <h2 th:case="null">No payments</h2>
    <div th:case="*">
        <h2>List of Payments</h2>
        <table>
            <thead>
            <tr>
                <th>Witcher</th>
                <th>People</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="payment : ${payments}">
                <td th:text="${witcher.witcherID}"></td>
                <td th:each="person : ${people}">
                <span th:text="${person.personID}"> personID </span>
                </td>
                <td th:text="${payment.value}"></td>
                <td><a th:href="@{/payment/edit/{id}(id=${payment.paymentID})}">Edit</a></td>
                <td><a th:href="@{/payment/delete/{id}(id=${payment.paymentID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/payment/new">Toss a coin to your Witcher</a></p>
    <p><a href="/person">Person manager</a></p>
    <p><a href="/witcher">Witcher manager</a></p>

</div>

</form>
</body>