<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring MVC demo app</title>
</head>
<body>
<h1>Welcome to our app</h1>

<h2>We have <span th:text="${people.size()}"></span> people in our database</h2>
<div th:switch="${people}">
  <h2 th:case="null">No people</h2>
  <div th:case="*">
    <h2>List of people</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="person : ${people}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.title}"></td>
        <td><a th:href="@{/person/edit/{id}(id=${person.personID})}">Edit</a></td>
        <td><a th:href="@{/person/delete/{id}(id=${person.personID})}">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/person/new">Add new person</a></p>
  <p><a href="/witcher">Witcher manager</a></p>
  <p><a href="/payment">Toss a coin to your Witcher</a></p>
</div>

</form>
</body>