<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC demo app</title>
</head>
<body>
<h1>Welcome to our app</h1>

<form action="#" th:action="@{/payment/update/{id}(id=${payment.payment})}" th:object="${payment}" method="post">
    <label for="witcher">WitcherID</label>
    <input type="text" th:field="*{payment.witcherID}" id="witcher" placeholder="Witcher's ID">
    <table>
        <thead>
        <tr>
            <th>People</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person, itemStat : *{people}">
            <td><input th:field="*{people[__${itemStat.index}__].personID}" /></td>
        </tr>
        </tbody>
    </table>
    <label for="value">Value</label>
    <input type="text" th:field="*{payment.value}" id="value" placeholder="Value">
    <input type="submit" value="Zapisz zmiany">
</form>

</form>
</body>
</html>