<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC demo app</title>
</head>
<body>
<h1>Welcome to our app</h1>

<form action="#" th:action="@{/payment/update/{id}(id=${payment.paymentID})}" th:object="${payment}" method="post">
    <label for="witcherID">WitcherID</label>
    <input type="text" th:field="*{witcher.witcherID}" id="witcherID" placeholder="WitcherID">
    <tbody>
    <tr th:each="person, itemStat : *{people}">
        <td><input th:field="*{people[__${itemStat.index}__].personID}" /></td>
    </tr>
    </tbody>
    <label for="value">Value</label>
    <input type="text" th:field="*{value}" id="value" placeholder="Value">
    <input type="submit" value="Save changes">
</form>

</form>
</body>
</html>