<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring MVC demo app</title>
</head>
<body>
<h1>Welcome to our app</h1>

<form action="#" th:action="@{/person/add}" th:object="${person}" method="post">
  <label for="firstName">Name</label>
  <input type="text" th:field="*{firstName}" id="firstName" placeholder="Your name">
  <label for="yob">Year of birth</label>
  <input type="text" th:field="*{yob}" id="yob" placeholder="2000">
  <input type="submit" value="Add Person">
</form>

</form>
</body>
</html>